@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
}


body{
  font-family: 'Montserrat';
  font-style: normal;
  width: 85%; /*if the browser gets too small, this makes sure there is still space*/
  margin: 0 auto;
  padding-bottom: 50px;
  font-weight: bold;
}

/*------------Navbar-------------*/
.navbar-nav a{
  font-size: 30px;
  color: #1E6C38;
  transition: all 0.3s ease 0s;
}

.navbar-nav a:hover{
  transform: translateY(-3px);
  color: #2AC35E;
}

.current{
  text-decoration-line: underline;  
  text-decoration-thickness: 5px;
}

/*------------Greetings Card-------------*/
.greetings{
  position: relative;
  background: #2FA156;
  box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-left: 26px;
  padding-top: 18px;
  margin-top: 51px;
  transition: all 0.3s ease 0s;
  animation: pop 0.3s linear 1;
  padding-bottom: 18px;
}
.greetings h1{
  font-weight: 600;
  font-size: 50px;
  color: #fff;
  line-height: 73px;
  margin: 0px;
}

.greetings p{
  font-weight: 400;
  font-size: 25px;
  color: #fff;
  line-height: 36px;
  margin-bottom: 0px;
}

.greetings:hover, .gcont:hover{
  transform: translateY(-10px);
}


/*------------Date-------------*/
.date-card{
  padding-top: 50px;
  color: #2AC35E;
  font-size: 25px;
}

.date-card h1{
  color: #1E6C39;
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
}

.shroom{
  position: relative;
  top: -180px;
  left: 140px;
}

.firstrow{
  height: 250px;
  margin-bottom: 30px;
}

.time{
  width: 150px;
}

/*------------Gauges-------------*/

.humidity, .temperature, .water{
  font-size: 25px;
  width: 400px;
  height: 249px;
  color: #fff;
  background: #6FE096;
  box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-left: 35px;
  padding-right: 13px;
  margin-right: 15px;
  padding-top: 15px;
}


.gaugerow{
  margin-top: 50px;
  margin-left: 5px;
}
.gauges h3{
  font-weight: 600;
  margin-bottom: 10px;
}

.hcont, .tcont, .wcont{
  display: inline-flex;
}

#hlogo{
  position: relative;
  margin-left: 30px;
  margin-top: 20px;
}

#tlogo{
  position: relative;
  margin-top: 15px;
  margin-left: 35px;
}

#wlogo{
  position: relative;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 50px;
}
.gauges :hover{
  color: #1E6C38;
  transition: 0.5s;
}

.gauge-container {
  width: 170px;
  height: 170px;
  display: block;
  float: left;
  padding: 10px;
  border-radius: 12px;
  position: relative;
}
.gauge-container > .label {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  color: rgb(47, 227, 255);;
  font-family: monospace;
  font-size: 0.8em;
  padding: 5px 10px;
  border-top-right-radius: 12px;
}
.gauge-container > .gauge .dial {
  stroke: #ffffff;
  stroke-width: 13;
  fill: rgba(0,0,0,0);
}
.gauge-container > .gauge .value {
  stroke: #E3A862;
  stroke-width: 13;
  fill: rgba(0,0,0,0);
}
.gauge-container > .gauge .value-text {
  fill: #1E6C38;
  font-weight: bold;
  font-size: 30px
}
.gcont{
  transition: all 0.3s ease 0s;
}


/*.hcont img, .tcont img, .wcont img{
  place-self: center;
}*/

.graph{
  margin-top: 53px;
  max-width: 1200px;
  height: 470px;
  box-sizing: border-box;
  box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-left: 20px;
}

#chart-temperature{
  width: 100%;
}

#chart-water{
  height: 265px;
  place-self: center;
}


/* Responsiveness */
@media only screen and (max-width: 600px) {
  .firstrow{
    width: 100%; /*Makes girl logo and clock go to a new row at 1000 pixels*/
  }
  .greetings{
    text-align: center;
    padding-right: 25px;
  }

  .greetings h1{
    padding-top: 14px;
    font-size: 35px;
    line-height: 40px;
  }

  .greetings p{
    padding-top: 5px;
    line-height: 25px;
    font-size: 18px;
  }

  #tlogo{
    margin-left: 35px;
  }
  #hlogo{
    margin-left: 25px;
  }

  #wlogo{
    margin-left: 25px;
  }
  /**/
  #hlogo, #tlogo, #wlogo{
    width: 130px;
    height: 130px;
    margin-top: 30px;
  }

}

  @media only screen and (max-width: 1600px){
  .gcont{
    margin-bottom: 35px;
    width: 375px;
    height: 225px;     /*eeeeeeeeeeeeeeeeeeeeeee*/
  }

  .gauge-container{
    width: 150px;
    height: 150px;
  }

  #hlogo, #tlogo{
    width: 90px;
    height: 90px;
    margin-top: 20px;
  }
  #wlogo{
    margin-top: 20px;
    width: 65px;
    height: 90px;
  }
}

@media only screen and (max-width: 1420px){
  .gcont{
    margin-bottom: 35px;
    width: 350px;
    height: 220px;     /*eeeeeeeeeeeeeeeeeeeeeee*/
  }

  .shroom{
    width: 199px;
    height: 223px;
    top: -160px;
    left: 150px;
  }  
}


@media only screen and (max-width: 1350px){
  .greetings{
    padding-right: 15px;
  }
  .gcont{
    margin-bottom: 35px;
    width: 330px;
    height: 200px;     /*eeeeeeeeeeeeeeeeeeeeeee*/
  }

  .gauge-container{
    width: 130px;
    height: 130px;
  }

}

@media only screen and (max-width: 1255px) {
  .girl{
    width: 274px;
    height: 180px;
    top: -100px;
    left: 75px;
  }  

  .gcont{
    margin-bottom: 35px;
    padding-left: 15px;
    width: 310px;
    height: 200px;     /*eeeeeeeeeeeeeeeeeeeeeee*/
  }

  .gauge-container{
    width: 110px;
    height: 110px;
  }



}

@media only screen and (max-width: 1255px) {
  .gcont{
    width: 290px;
  }
}

@media only screen and (max-width: 1110px) {
  .date{
    font-size: 22px;
  }

  .date-card h1{
    font-size: 40px;
  }

  .row{
    margin-top: 0px;
  }

  .shroom{
    width: 179px;
    height: 193px;
    top: -150px;
    left: 120px;
  }  

  .greetings h1{
    font-size: 30px;
  }
  
  .greetings{
    padding-top: 0px;
  }

  .greetings p{
    font-size: 20px;
  }
  .gcont{
    width: 270px;
    height: 160px;
    padding-left: 10px;
  }

  .gcont h3{
    font-size: 20px;
  }

  #hlogo, #tlogo{
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 20px;
  }
  #wlogo{
    margin-top: 15px;
    width: 50px;
    height: 70px;
    margin-left: 30px;
  }
}

@media only screen and (max-width: 1110px) {
  .gcont{
    width: 250px;
  }
}

@media only screen and (max-width: 1050px) {
    .gcont{
      width: 220px;
    }
    .gauge-container{
      width: 90px;
      height: 90px;
    }

    .date{
      font-size: 20px;
    }

    .date-card h1{
      font-size: 38px;
    }
}

@media only screen and (max-width: 870px) { /*go back to bigger sizing*/
  .gcont{
    width: 400px;
    height: 249px;
    font-size: 25px;
    padding-left: 20px;
  }

  .gcont h3{
    font-size: 25px;
  }

  .row{
    margin-top: 50px;
  } 

  .date-card{
    padding-top: 50px;
    font-size: 25px;
    margin-left: 30px;
  }
  
  .date-card h1{
    font-size: 50px;
  }

  .date{
    font-size: 25px;
  }
  .shroom{
    width: 229px;
    height: 263px;
    top: -160px;
    left: 130px
  }

  .gauge-container {
    width: 170px;
    height: 170px;
  }

  .firstrow{
    width: 100%; 
  }

  #tlogo{
    margin-left: 35px;
  }
  #hlogo{
    margin-left: 25px;
  }

  #wlogo{
    margin-left: 55px;
  }
  /**/
  #hlogo, #tlogo{
    width: 130px;
    height: 130px;
    margin-top: 30px;
  }

  #wlogo{
    width: 80px;
    height: 110px;
    margin-top: 30px;
  }

}


@media only screen and (max-width: 498px) {

  .girl{
    width: 200px;
    height: 150px;
    top: -100px;
    left: 70px;
  }  

  .date-card{
    margin-left: 15px;
  }

  .date-card h1{
    font-size: 40px;
  }

  .date{
    font-size: 22px;
  }

  .shroom{
    width: 209px;
    height: 243px;
    top: -160px;
    left: 110px
  }

  #hlogo, #tlogo{
    width: 100px;
    height: 100px;
  }

  #wlogo{
    width: 73px;
    height: 100px;
    margin-left: 25px;
  }

  .wcont, .hcont, .tcont {
    width: 130px;
    height: 130px;
  }

  .gauge-container{
    width: 130px;
    height: 130px;
  }
  #tlogo{
    margin-left: 20px;
    margin-top: 20px;
  }

  #wlogo{
    margin-top: 15px;
  }
  
  #hlogo{
    margin-left: 15px;
  }
  .gcont{
    height: 200px;
    width: 300px;
  }

  .greetings{
    padding-left: 15px;
  }

}

.dcontainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
} 
.dash {
  margin: 0 15px;
  width: 35px;
  height: 15px;
  border-radius: 8px;
  background: #6610f2;
  box-shadow: 0 0 10px 0 #ba9cea;
}

.uno {
  margin-right: -18px;
  transform-origin: center left;
  animation: spin 3s linear infinite;  
}

.dos {
  transform-origin: center right;
  animation: spin2 3s linear infinite;
  animation-delay: .2s;
}

.tres {
  transform-origin: center right;
  animation: spin3 3s linear infinite;
  animation-delay: .3s;
}

.cuatro {
  transform-origin: center right;
  animation: spin4 3s linear infinite;
  animation-delay: .4s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  30% {
    transform: rotate(370deg);
  }
  35% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-180deg);
  }
  35% {
    transform: rotate(-190deg);
  }
  40% {
    transform: rotate(-180deg);
  }
  78% {
    transform: rotate(-180deg);
  }
  95% {
    transform: rotate(-360deg);
  }
  98% {
    transform: rotate(-370deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spin3 {
  0% {
    transform: rotate(0deg);
  }
  27% {
    transform: rotate(0deg);  
  }
  40% {
    transform: rotate(180deg);
  }
  45% {
    transform: rotate(190deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(370deg);
  }
  85% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin4 {
  0% {
    transform: rotate(0deg);
  }
  38% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-360deg);
  }
  65% {
    transform: rotate(-370deg);
  }
  75% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* Responsiveness 

@media screen and (min-width:750px){
  .gauges{
    display: inline-flex;
  }
} */