@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
  }

body{
    font-family: 'Montserrat';
    padding-bottom: 50px;
    font-weight: bold;
  }

.img1 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 15px solid #2AC35E;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 33px;
}

h1, h2, h5{
    color: #1E6C39;
    font-weight: 600;
}

h1{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 50px;
}

h2{
    font-weight: bold;
}

h5{
    font-size: 18px;
}

.card-container{
    perspective: 1000px;
    position: relative;
    height: 500px;
}

.card-container:hover .card-front{
    transform: rotateY(180deg);
}

.card-container:hover .card-back{
    transform: rotateY(0deg);
}

.card-back{
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.card-front{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    transition: all 0.9s;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}


.row{
    margin-top: 50px;
}
.card-front, .card-back{
    position: absolute;
    background: linear-gradient(135deg, hsla(0, 0%, 100%, 1) 0%, hsla(141, 65%, 66%, 1) 100%);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.25);
}

.card-back p{
    margin-top: 15px;
    color: #1E6C38;
    text-align: center;
    vertical-align: middle;
    font-size: x-large;
    padding: 0 10px;
    font-weight: 500;
}

.main-text{
    text-align: center;
    padding: 30px 0;
}

.socials{
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.socials li{
    display: inline-block;
}

.socialslogo{
    position: relative;
    width: 35px;
    margin: 39px 13px;
    transition: all 0.3s ease 0s;
}

.socialslogo:hover{
    cursor: pointer;
    transform: translateY(-10px);
}

.navbar-nav a{
    font-size: 30px;
    color: #1E6C38;
    transition: all 0.3s ease 0s;
}

.navbar-nav a:hover{
    transform: translateY(-3px);
    color: #2AC35E;
}



.current{
    text-decoration-line: underline;  
    text-decoration-thickness: 5px;
} 


/*responsiveness*/
@media only screen and (max-width: 995px){
    .col-md-5{
        width: 100%;
    }

   .space{
    margin-top: 50px;
   }
}